/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/

:root {
    --footer-height: 40px;
    /*--content-gap: 20px;*/
    /*--content: rgb(80, 80, 80);*/
    /*--hljs-bg: rgb(35, 35, 35);*/
    --hljs-bg: rgb(44, 44, 44);
    /*--code-bg: rgb(235, 235, 235);*/
    --code-bg: rgb(240, 240, 240);
    --code-bg-border: rgb(200, 200, 200);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --tag: rgb(235, 235, 235);

    --nav-width: 1300px;
    /*--nav-width: 1024px;*/
    --article-width: 650px;
    --toc-width: 300px;
}

.dark {

}

/*------------------------------------------------------------*/

.post-content h1 {
    font-size: 40px;
}

.post-content h2 {
    font-size: 34px;
}

.post-content h3 {
    font-size: 26px;
}

.post-content h4 {
    font-size: 20px;
}

.post-content h5 {
    font-size: 16px;
}

.post-content h6 {
    font-size: 14px;
}

.post-content p {
    margin-top: 20px;
    /*text-indent: 2em;*/ /*所有首行缩进*/
}

.dark .post-content h1, .dark .post-content h2, .dark .post-content h3,
.dark .post-content h4, .dark .post-content h5, .dark .post-content h6,
.dark .post-title {
    color: var(--content);
}

.dark h1, .dark h2,
.dark h3, .dark h4,
.dark h5, .dark h6,
.dark p {
    color: rgba(180, 181, 182, 0.8);
}
.dark body, .dark a, .dark .toc .details {
    color: rgba(180, 181, 182, 0.8);
}

/*------------------------------------------------------------*/

/*链接下划线*/
.post-content a, .toc a:hover {
    /*box-shadow: none;

    background: linear-gradient(45deg,#5e82f9 11%,#B263FE 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

/*img*/
img {
    border-radius: 10px;
}

.dark img {
    opacity: 0.8;
}

/*-----------点击图片放大------------*/
img:active {
    /*margin:50px;*/
    border-radius: 10px;
    transform: scale(1.35, 1.35);
}

/*代码里的滚动*/
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 15px;
        height: 13px;
    }
}

/*页面滚动*/
/*::-webkit-scrollbar-thumb {*/
/*    border: 2px solid var(--theme);*/
/*}*/


/*页面顶部栏两边宽度*/
.nav {
    max-width: calc(var(--nav-width) + var(--gap) * 10);
}

.main {
    max-width: calc(var(--main-width) + var(--gap) * 5);
    /*max-width: calc(var(--main-width) + var(--gap) * 5);*/
    /*margin: 0px 0px 0px 320px;*/
    /*margin-left: 23%;*/
    /*margin-right: 0px;*/
}

/*footer*/
.footer {
    max-width: none;
    padding: 10px 0 5px 0;
    /*line-height: 50px;*/
}

/*字体大小*/
.post-title {
    /*font-size: 30px;*/
}

/*.page-header h1 {
	font-size: 30px;
}*/

.post-content {
    /*color: var(--secondary);*/
    /*font-family: "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;*/
    /*font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;*/
    font-family: arial;
    /*font-family: STKaiti, STKaitiSC-Bold,  YouYuan, arial;*/
    /*font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;*/

    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-font-smoothing: auto;*/
    /*font-family: jost,Helvetica Neue,Helvetica,Arial,sans-serif;*/
    /*font-family:"You Yuan","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";*/
}

.dark .post-content {
    color: rgba(180, 181, 182, 0.8);
}

body {
    font-size: 18px;
    line-height: 1.6;
    /*-webkit-font-smoothing: auto;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*font-family: cursive;*/
    /*font-family: fantasy;*/
    /*font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;*/
    font-family: arial;
    /*font-family: STKaiti, STKaitiSC-Bold, YouYuan, arial;*/
    /*font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;*/

    /*font-family: jost,Helvetica Neue,Helvetica,Arial,sans-serif;*/
    /*font-family:"You Yuan","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";*/
}

/*引言*/
.post-content blockquote {
    /*background: var(--border);*/
}

/*文章章节图片展示大小*/
.post-entry .entry-cover img {
    /*width: 50%;*/
    /*height: 50%;*/
    /*display: initial;*/
    /*max-width: 70%;*/
}

.entry-cover1 {
    border-radius: 10px;
}

/*描述*/
.post-description {
    padding-bottom: 10px;
    color: var(--secondary);
}

/*------------------------------------------------------------------*/

.post-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry-cover {
    overflow: hidden;
    padding-left: 18px;
    height: 100%;
    width: 50%;
    margin-bottom: unset;
}

.post-info {
    display: inline-block;
    overflow: hidden;
    width: 90%;
}

/*---------------------------*/
.topInner {
    display: grid;
    align-items: baseline;
    justify-items: center;
    margin: 7px;
    font-weight: 900;
}

.topSvg {
    width: 20px;
}

.top-link {
    padding: unset;
}