/*评论*/
.tk-comments-container[data-v-2619081a] {
    font-size: smaller;
}

.pagination__title {
    margin-bottom: 30px;
}

.pagination__title-h {

}

.pagination__title hr {

}

ul.post-tags-meta a {
    color: var(--secondary);
}

/*评论框高度*/
/*.tk-input[data-v-619b4c52] .el-textarea__inner {
    height: 250px !important;
}*/

/*评论头部间距*/
.post-footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*评论代码*/
pre[class*="language-"] > code {
    /*border-left: 5px solid rgb(193, 223, 222) !important;*/
    border-left: none !important;
}

code[class*="language-"], pre[class*="language-"] { /*会影响到文章里的代码*/
    font-size: 0.8em !important;
    line-height: 1.3 !important;
    font-family: JetBrains Mono;
    /*background-color: var(--hljs-bg)!important;*/
}