/*友链*/
.friendurl {
    text-decoration: none !important;
    color: black;
    box-shadow: none !important;
}

.myfriend {
    width: 56px !important;
    height: 56px !important;
    border-radius: 50% !important;
    padding: 2px;
    margin-top: 20px !important;
    margin-left: 14px !important;
    background-color: #fff;
}

.frienddiv {
    overflow: auto;
    height: 100px;
    width: 49%;
    display: inline-block !important;
    border-radius: 5px;
    background: none;

    -webkit-transition: box-shadow 0.4s ease, transform 0.4s ease;
    -moz-transition: box-shadow 0.4s ease, transform 0.4s ease;
    -o-transition: box-shadow 0.4s ease, transform 0.4s ease;

    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.frienddiv:hover {
    background: var(--theme);

    /*-webkit-transform: scale(1.08);*/
    /*-moz-transform: scale(1.08);*/
    /*-ms-transform: scale(1.08);*/
    /*-o-transform: scale(1.08);*/
    /*transform: scale(1.08);*/

    transition: box-shadow 1s ease, transform 1s ease;
}

.dark .frienddiv:hover {
    background: var(--code-bg);

    /*-webkit-transform: scale(1.08);*/
    /*-moz-transform: scale(1.08);*/
    /*-ms-transform: scale(1.08);*/
    /*-o-transform: scale(1.08);*/
    /*transform: scale(1.08);*/

    transition: box-shadow 1s ease, transform 1s ease;
}

.frienddiv:hover .frienddivleft img {
    /*transition: 0.9s !important;*/
    /*-webkit-transition: 0.9s !important;*/
    /*-moz-transition: 0.9s !important;*/
    /*-o-transition: 0.9s !important;*/
    /*transform: rotate(360deg) !important;*/
    /*-webkit-transform: rotate(360deg) !important;*/
    /*-moz-transform: rotate(360deg) !important;*/
    /*-o-transform: rotate(360deg) !important;*/
    /*-ms-transform: rotate(360deg) !important;*/
}

.frienddivleft {
    width: 92px;
    float: left;
    margin-right: -5px;
}

.frienddivright {
    margin-top: 18px;
    margin-right: 18px;
}

.friendname {
    text-overflow: ellipsis;
    font-size: 100%;
    margin-bottom: 5px;
    color: var(--primary);
}

.friendinfo {
    text-overflow: ellipsis;
    font-size: 70%;
    color: var(--primary);
}

.dark .friendname, .dark .friendinfo {
    color: rgba(180, 181, 182, 0.8);
}

@media screen and (max-width: 600px) {
    .friendinfo {
        display: none;
    }

    .frienddivleft {
        width: 84px;
        margin: auto;
    }

    .frienddivright {
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .friendname {
        font-size: 18px;
    }
}