<!--如果单独复制这段代码，需要从 extend_head.html 中找到 font-awesome 引入，如下-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">-->

<!--geminiAI-->
<div class="post-ai" onclick="geminiAI()">
  <img alt="Static Badge" src="https://api-shields.edui.fun/badge/Gemini-文章摘要-blue.svg?logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Im0yMS42NCAzLjY0bC0xLjI4LTEuMjhhMS4yMSAxLjIxIDAgMCAwLTEuNzIgMEwyLjM2IDE4LjY0YTEuMjEgMS4yMSAwIDAgMCAwIDEuNzJsMS4yOCAxLjI4YTEuMiAxLjIgMCAwIDAgMS43MiAwTDIxLjY0IDUuMzZhMS4yIDEuMiAwIDAgMCAwLTEuNzJNMTQgN2wzIDNNNSA2djRtMTQgNHY0TTEwIDJ2Mk03IDhIM20xOCA4aC00TTExIDNIOSIvPjwvc3ZnPg==">
</div>
<style>
@keyframes spin { from {transform: rotate(0deg);}to {transform: rotate(360deg);} }
.post-ai-result svg{animation: spin 1s infinite linear;}
</style>
<script>
let postAI = document.querySelector(".post-ai")
let postTile = document.querySelector(".post-title a").textContent
async function geminiAI() {
  postAI.insertAdjacentHTML('afterend', '<div class="post-ai-result"><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 1 1-6.219-8.56"/></svg></div>');
  postAI.classList.add("noclick")
  let GeminiFetch = "https://api-gemini.immmmm.com/v1/chat/completions"
  try{
    let postAIResult = document.querySelector(".post-ai-result")
    let input = document.querySelector(".post-content").textContent
    let inputHanzi = input.replace(/\n/g, '').replace(/[ ]+/g, ' ').replace(/<pre>[\s\S]*?<\/pre>/g, '').substring(0, 30000)
    let toAI = `文章标题：${postTile}，具体内容：${inputHanzi}`
    const res = await fetch(GeminiFetch, {
      headers: {
        'Content-Type': 'application/json'
      },
      method: 'POST', 
      body: JSON.stringify({
        model: 'gemini-pro',
        messages: [
          { role: 'system',content:`You are a highly skilled AI trained in language comprehension and summarization. I would like you to read the text delimited by triple quotes and summarize it into a concise abstract paragraph. Aim to retain the most important points, providing a coherent and readable summary that could help a person understand the main points of the discussion without needing to read the entire text. Please avoid unnecessary details or tangential points.
          Only give me the output and nothing else. Do not wrap responses in quotes. Respond in the Chinese language.`},
          { role: 'user', content: toAI } 
        ],
        temperature: 0.7,
        stream: true
      })
    })
    const reader = res.body.getReader()
    while(true) {
      const {value, done} = await reader.read()
      if (done) {
        break
      }
      const text = new TextDecoder().decode(value)
      const match = text.match(/DONE/)
      if(!match){
        const textJson = JSON.parse(text.substring(5))
        const resData = textJson.choices[0].delta.content
        if(resData.length > 0){
          //console.log(textJson)
          postAIResult.textContent += resData
        }
      }
    }
  } catch (error) {
    document.querySelector(".post-ai-result").remove();
    console.log(error);
  }
};
</script>
<!--geminiAI-->

<style>
    i[id*="post_meta_style"] {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
    }

    .parent-post-meta {
        display: flex;
        flex-wrap: wrap;
        opacity: 0.8;
    }
</style>

<span class="parent-post-meta">
    <span id="post_meta_style_1">
        <span class="fa fa-calendar-check-o"></span>
        <span>
            {{- (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
            &nbsp;&nbsp;
        </span>
    </span>
    <!--    <span id="post_meta_style_2">-->
    <!--        <span class="fa fa-calendar-plus-o"></span>-->
    <!--        <span>-->
    <!--            &nbsp;更新&nbsp;{{- (.Lastmod.Format (.Site.Params.dateFormat | default "2006-01-02")) }}-->
    <!--            &nbsp;|&nbsp;-->
    <!--        </span>-->
    <!--    </span>-->
    <span id="post_meta_style_3">
        <span class="fa fa-file-word-o"></span>
        <span>
            {{- .WordCount }}字
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_4">
        <span class="fa fa-clock-o"></span>
        <span>
            {{- .ReadingTime }}分钟
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_5">
        <span class="fa fa-user-o"></span>
        <span>
            {{- with (partial "author.html" .) }}
            {{- . }}
            {{- end }}
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_6">
        <span class="fa fa-tags" style="opacity: 0.8"></span>
        <span>
            {{- if .Params.tags }}
            <span class="post-tags-meta">
                {{- range $index, $value := ($.GetTerms "tags") }}
                {{- if eq $index 0}}
                <a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
                {{- else }}
                &nbsp;<a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
                {{- end }}
                {{- end }}
            </span>
            {{- end }}
        </span>
    </span>
</span>
