<!DOCTYPE HTML>
<html lang="en">
<head>
    <style type="text/css">
        .bilibili_shortcodes {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 66%;
            margin: auto;
            overflow: hidden;
            text-align: center;
            /*border: 5px solid;*/
        }

        .bilibili_shortcodes iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    </style>
    <title></title>
</head>
<body>
<div class="bilibili_shortcodes">
    <iframe
            src="https://player.bilibili.com/player.html?bvid={{.Get 0 }}&page={{ if .Get 1 }}{{.Get 1}}{{ else }}1&high_quality=1&danmaku=0&as_wide=0{{end}}"
            scrolling="no"
            border="0"
            frameborder="no"
            framespacing="0"
            allowfullscreen="true"
    >
    </iframe>
    <!-- src 中的 &high_quality=1&danmaku=0 设定了高清程度并默认屏蔽弹幕 -->
    <!-- sandbox 阻止了点击视频中的按钮跳转到B站的行为 -->
    <!-- sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts" -->

    <!--
cid	        chat id，每个 chat id 对应一组弹幕池如填了 aid ，这个字段不填也没关系
aid	        article id ，视频的 av 号就是B站的 avxxxx 后面的数字
bvid	    bilibili video id ，视频的 bv 号 2020.03 时候，B站把 av 号根据一定的算法转成这个了如果填了 bvid ，那么 aid 不填也可以
page	    第几个视频，起始下标为 1 （默认值也是为1）就是B站视频，选集里的第几个视频
as_wide	    是否宽屏 1: 宽屏，0: 小屏
high_quality	是否高清 1: 高清，0: 最低视频质量（默认）如视频有 360P 720P 1080P 三种，默认或者 high_quality=0 是最低 360P high_quality=1 是最高1080P
danmaku	    是否开启弹幕
1:          开启（默认），0: 关闭
t	        打开时，自动跳转到某个时间，并且自动播放（单位秒）比如 t=60 ，那么自动跳转到1分钟，且自动播放
    -->

</div>
</body>
</html>